.hidden {
    display: none;
}

.bgImg {
    background-image: url(img/0.png);
}

.bgImg {
    background-image: url(img/1.webp);
}

.body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

#clock {
    font-weight: bold;
    margin: 0;
    font-size: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
